<!-- TEMPLATE CODE -->

{{APP_TEMPLATE_CODE}}

<!-- MENU -->

<ul id="sideMenu" class="sidenav">
	<li><a href="#!" onclick="apretaste.send({command:'CLIMA'})"><i class="fas fa-umbrella"></i> Estado del tiempo</a></li>
	<li><a href="#!" onclick="apretaste.send({command:'CLIMA HURACAN'})"><i class="fas fa-wind"></i> Cono del huracán</a></li>
	<li><a href="#!" onclick="apretaste.send({command:'CLIMA SATELITE'})"><i class="fas fa-satellite"></i> Imagen del satélite</a></li>
	<li><a href="#!" onclick="apretaste.send({command:'CLIMA CARIBE'})"><i class="fas fa-tree"></i> Imagen del caribe</a></li>
	<li><a href="#!" onclick="apretaste.send({command:'CLIMA ATLANTICO'})"><i class="fas fa-water"></i> Estado del atlántico</a></li>
	<li><a href="#!" onclick="apretaste.send({command:'CLIMA PRESION'})"><i class="fas fa-thermometer-three-quarters"></i> Presión superficial</a></li>
</ul>

<!-- CHANGE PROVINCES -->

<div id="modalProvinces" class="modal bottom-sheet fullscreen">
	<div class="modal-content">
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[0]}}})">Pinar del Río</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[1]}}})">La Habana</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[2]}}})">Artemisa</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[3]}}})">Mayabeque</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[4]}}})">Matanzas</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[5]}}})">Villa Clara</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[6]}}})">Cienfuegos</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[7]}}})">Sancti Spirítus</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[8]}}})">Ciego de Ávila</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[9]}}})">Camaguey</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[10]}}})">Las Tunas</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[11]}}})">Holguín</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[12]}}})">Granma</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[13]}}})">Santiago De Cuba</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[14]}}})">Guantánamo</span>
		<span class="chip" onclick="apretaste.send({command:'CLIMA',data:{query: {province: provinces[15]}}})">Isla de la Juventud</span>
	</div>
</div>

<!-- SUBMIT -->

<div class="bottom-space"></div>

<div class="fixed-action-btn">
	<% if(icon == 'umbrella') { %>
		<a class="btn-floating waves-effect waves-light grey second modal-trigger" href="#!" data-target="modalProvinces">
			<i class="material-icons">create</i>
		</a>
	<% } %>
	<a class="btn-floating btn-large waves-effect waves-light green sidenav-trigger" href="#!" data-target="sideMenu">
		<i class="material-icons">menu</i>
	</a>
</div>
