<div class = "container">
     <div class = "row" style="padding-top: 15px;">
        <nav class = "nav-center hide-on-small-only">
            <div class = "nav-wrapper blue-bg">
                <!--Logo-->
                <span class="brand-logo right">
                    <i><b style="font-size:40px;">&nbsp; CLIMA</b></i>
                </span>
                <ul>
                    <li>
                        <a class = "black-text" href = "#!" onclick = "apretaste.send({'command':'CLIMA'})">
                            <i class = "material-icons">home</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id = "modalText" class = "modal">
            <div class = "modal-content">

            </div>
            <div class = "modal-footer">
                <a href = "#!" class = "modal-close waves-effect waves-green btn-flat">Cerrar</a>
            </div>
        </div>
        <div id = "modalOptions" class = "modal">
            <div class = "modal-content collection">
                    <a href = "#!" class = "collection-item link link-simple" data-command = "CLIMA_HURACAN" data-query = "{}"><i class = "material-icons left">my_location</i>Hurac&aacute;n</a>
                    <a href = "#!" class = "collection-item link link-simple " data-command = "CLIMA_SATELITE" data-query = "{}"><i class = "material-icons left">satellite</i>Sat&eacute;lite</a>
                    <a href = "#!" class = "collection-item link link-simple " data-command = "CLIMA_CARIBE" data-query = "{}"><i class = "material-icons left">cloud</i>Caribe</a>
                    <!--
                    <a href = "#!" class = "collection-item link link-simple " data-command = "CLIMA_RADAR" data-query = "{}"><i class = "material-icons left">settings_input_antenna</i>Radar</a>
                     <a href = "#!" class = "collection-item link link-simple " data-command = "CLIMA_TEMPERATURA" data-query = "{}"><i class = "material-icons left">whatshot</i>Temperatura</a>
                    <a href = "#!" class = "collection-item link link-simple " data-command = "CLIMA_SUPERFICIE" data-query = "{}"><i class = "material-icons left">layers</i>Superficie</a>
                    -->
                    <a href = "#!" class = "collection-item link link-simple " data-command = "CLIMA_ATLANTICO" data-query = "{}"><i class = "material-icons left">public</i>Atl&aacute;ntico</a>
                    <a href = "#!" class = "collection-item link link-simple " data-command = "CLIMA_POLVO" data-query = "{}"><i class = "material-icons left">cloud</i>Polvo del desierto</a>
                    <a href = "#!" class = "collection-item link link-simple " data-command = "CLIMA_PRESION" data-query = "{}"><i class = "material-icons left">map</i>Presi&oacute;n superficial</a>
            </div>
        </div>

        {{APP_TEMPLATE_CODE}}
        <div class="fixed-action-btn">
            <a class = "btn-floating btn-large green darken-3 white-text" href = "#!" onclick = "showOptions();">
                <i class = "material-icons">center_focus_strong</i>
            </a>
        </div>
    </div>
</div>
<style>
    .collection {
        border: 0px;
    }
</style>
