<div class="container">
	<div class="row" style="padding-top: 15px;">
		<nav class="nav-center hide">
			<div class="nav-wrapper blue-bg">
				<span class="brand-logo right">
					<i><b style="font-size:40px;">&nbsp; CLIMA</b></i>
				</span>
				<ul>
					<li>
						<a class="black-text" href="#!" onclick="apretaste.send({'command':'CLIMA'})">
							<i class="material-icons">home</i>
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<div id="modalText" class="modal">
			<div class="modal-content"></div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
			</div>
		</div>

		{{APP_TEMPLATE_CODE}}

		<div class="bottom-space"></div>

		<div class="fixed-action-btn">
			<a class="btn-floating waves-effect waves-light grey third modal-trigger" href="#shareModal">
				<i class="material-icons">share</i>
			</a>
			<a class="btn-floating btn-large green">
				<i class="large material-icons"><%= floatIcon %></i>
			</a>
			<ul>
				<li><a href="#!" class="btn-floating " onclick="apretaste.send({command:'CLIMA',data:{}});"><i class="material-icons left">cloud_queue</i>Tiempo</a></li>
				<li><a href="#!" class="btn-floating " onclick="apretaste.send({command:'CLIMA HURACAN',data:{}});"><i class="material-icons left">my_location</i>Hurac&aacute;n</a></li>
				<li><a href="#!" class="btn-floating " onclick="apretaste.send({command:'CLIMA SATELITE',data:{}});"><i class="material-icons left">satellite</i>Sat&eacute;lite</a>
				<li><a href="#!" class="btn-floating " onclick="apretaste.send({command:'CLIMA CARIBE',data:{}});"><i class="material-icons left">cloud</i>Caribe</a>
				<li><a href="#!" class="btn-floating " onclick="apretaste.send({command:'CLIMA ATLANTICO',data:{}});"><i class="material-icons left">public</i>Atl&aacute;ntico</a>
				<li><a href="#!" class="btn-floating " onclick="apretaste.send({command:'CLIMA PRESION',data:{}});"><i class="material-icons left">map</i>Presi&oacute;n superficial</a>
			</ul>
		</div>
	 </div>
</div>


<!-- SHARE MODAL -->
<div id="shareModal" class="modal">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" class="materialize-textarea"></textarea>
			<label for="message">Escriba un texto para compartir</label>
		</div>
		<ul class="collection one-line preview">
			<li class="collection-item avatar" style="min-height: 60px;">
				<i class="fas fa-<%= share.icon %> material-icons circle"></i>
				<span class="title"><%- share.text %></span>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="share.send()" class="modal-close waves-effect waves-green green-text btn-flat">Enviar</a>
	</div>
</div>