<div class = "container">
     <div class = "row" style="padding-top: 15px;">
        <nav class = "nav-center hide">
            <div class = "nav-wrapper blue-bg">
                <!--Logo-->
                <span class="brand-logo right">
                    <i><b style="font-size:40px;">&nbsp; CLIMA</b></i>
                </span>
                <ul>
                    <li>
                        <a class = "black-text" href = "#!" onclick = "apretaste.send({'command':'CLIMA'})">
                            <i class = "material-icons">home</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id = "modalText" class = "modal">
            <div class = "modal-content">

            </div>
            <div class = "modal-footer">
                <a href = "#!" class = "modal-close waves-effect waves-green btn-flat">Cerrar</a>
            </div>
        </div>

         {{APP_TEMPLATE_CODE}}

    </div>
    <h2>Otras informaciones</h2>
    <div class="row">
        <div class="col s6 m6 l6 center-align"><button class="btn waves-effect waves-light" onclick="apretaste.send({command:'CLIMA_HURACAN',data:{}});">Hurac&aacute;n<i class = "material-icons left">my_location</i></button></div>
        <div class="col s6 m6 l6 center-align"><button class="btn waves-effect waves-light" onclick="apretaste.send({command:'CLIMA_SATELITE',data:{}});">Sat&eacute;lite<i class = "material-icons left">satellite</i></button></div>
        <div class="col s6 m6 l6 center-align"><button class="btn waves-effect waves-light" onclick="apretaste.send({command:'CLIMA_CARIBE',data:{}});">Caribe<i class = "material-icons left">cloud</i></button></div>
        <div class="col s6 m6 l6 center-align"><button class="btn waves-effect waves-light" onclick="apretaste.send({command:'CLIMA_ATLANTICO',data:{}});">Atl&aacute;ntico<i class = "material-icons left">public</i></button></div>
        <div class="col s6 m6 l6 center-align"><button class="btn waves-effect waves-light" onclick="apretaste.send({command:'CLIMA_POLVO',data:{}});">Polvo del desierto<i class = "material-icons left">cloud</i></button></div>
        <div class="col s6 m6 l6 center-align"><button class="btn waves-effect waves-light" onclick="apretaste.send({command:'CLIMA_PRESION',data:{}});">Presi&oacute;n superficial<i class = "material-icons left">map</i></button></div>
    </div>
</div>