<% init('CLIMA', title, {}, title + ', compartido en Pizarra"') %>
<div class="row">
	<div class="col l12 m12 s12">
		<h1><%- title %></h1>
		<img src="{{APP_IMAGE_PATH}}<%= image %>" width="100%" alt="Foto de <%- title %>"/>
	</div>
</div>
